@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  opacity: 0.8;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #000;
}

.c-tag {
  padding: 6px 12px;
  display: inline-block;
  background-color: #0027D5;
  color: #fff;
  font-weight: 700;
  border-radius: 25px;
  font-size: 16px;
  margin-left: 8px;
}

.p-blog {
  line-height: 1.5;
}

.p-blog-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.p-blog-header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-blog-header__list a {
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  font-size: 28px;
}
.p-blog-header__list li + li {
  margin-left: 40px;
}

.p-blog-article__cards {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 24px;
}
.p-blog-article__card p:nth-of-type(1) {
  margin-top: 16px;
  font-weight: 500;
}
.p-blog-article__card p:nth-of-type(2) {
  margin-top: 4px;
  color: #0027D5;
  font-size: 24px;
  font-weight: 500;
}
.p-blog-article__card p:nth-of-type(3) {
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 700;
}
.p-blog-article__card p:nth-of-type(4) {
  margin-top: 8px;
  font-weight: 500;
  color: #4B4B4B;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 限制顯示 2 行 */
  overflow: hidden;
}
.p-blog-article__card-btn {
  margin-top: 16px;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 8px 16px;
  display: inline-block;
  color: #4B4B4B;
}
.p-blog-article__card.--09 p:nth-of-type(4) {
  -webkit-line-clamp: 1; /* 限制顯示 2 行 */
}

.p-blog-article__search-box {
  position: relative;
}
.p-blog-article__search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.p-blog-article__search-icon img {
  width: 24px;
  height: 24px;
}
.p-blog-article__search-input {
  width: 416px;
  height: 56px;
  padding: 0 48px 0 50px;
  border: 1px solid #4B4B4B;
  border-radius: 25px;
  background-color: white;
  outline: none;
}
.p-blog-article__search-input::-moz-placeholder {
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 500;
}
.p-blog-article__search-input::placeholder {
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 500;
}
.p-blog-article__search-input:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}/*# sourceMappingURL=style.css.map */