@use "../global" as *;
// *{
//   outline: 1px solid #333 ;
// }
.p-blog{
  line-height: 1.5;
}
.p-blog-header{
  padding-top: 24px;
  padding-bottom: 24px;
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      display: inline-block;
      font-weight: 700;
      line-height: 1.5;
      font-size: 28px;
      // outline: 1px solid #333 ;

    }
    li+li {
      margin-left: 40px;
    }
  }
}

.p-blog-article{
  // outline: 1px solid #333 ;

  &__cards{
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px 24px;
  }
  &__card{
    & p:nth-of-type(1) {
      margin-top: 16px;
      font-weight: 500;
    }
    & p:nth-of-type(2) {
      margin-top: 4px;
      color: $color-blue;
      font-size: 24px;
      font-weight: 500;
    }
    & p:nth-of-type(3) {
      margin-bottom: 8px;
      font-size: 28px;
      font-weight: 700;
      
    }
    & p:nth-of-type(4) {
      margin-top: 8px;
      font-weight: 500;
      color: $color-gray;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;  /* 限制顯示 2 行 */
      overflow: hidden;
    }
    
    
  }
  &__card-btn{
      margin-top: 16px;
      border: 1px solid $color-black;
      border-radius: 50px;
      padding: 8px 16px;
      display: inline-block;
      color: $color-gray;
  }
  &__card.--09{
  
  & p:nth-of-type(4) {
    -webkit-line-clamp: 1;  /* 限制顯示 2 行 */

    }
  }
  
}

.p-blog-article{
  
  &__search-box{
    position: relative;
  }
  &__search-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;    
  }
  &__search-icon img{
    width: 24px;
    height: 24px;

  }
  &__search-input {
    width: 416px;
    height: 56px;
    padding: 0 48px 0 50px;
    border: 1px solid $color-gray;
    border-radius: 25px;
    background-color: white;
    outline: none;

    &::placeholder{
      color: $color-gray;
      font-size: 16px;
      font-weight: 500;
    }
    &:focus{
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }
  }
}
